body {
    background-color:rgb(10, 18, 42);
    margin:0;  
}
body.menuOpen {
    overflow:hidden;
}

/* **** */
/* menu */
/* **** */
#menu {
    width:100%;
    display:none;
    height:100vh;
    text-align:center;
    position:absolute;
    background-color:rgb(10, 18, 42);
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu a {
    margin-top:10vh;
    text-decoration:none;
    font-family:arial;
    color:rgb(240, 240, 230);
}
.selectButton {
    background-color:rgb(10, 18, 42);
    border-style:solid;
    border-color:rgb(240, 240, 230);
    text-decoration:none;
    font-family:arial;
    font-size:2vh;
    color:rgb(240, 240, 230);
    margin-top:7vh;
    height:10vh;
    width:90vw;
}
.selectButton:hover {
    background-color:rgb(30, 60, 90);
    text-shadow:
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
}
#svoren {
    margin-top: 7vh;
    font-size: 30px;
}
#svoren a:hover {
    text-shadow:
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
}

/* ****** */
/* navbar */
/* ****** */
header{
    background:linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}
.navbar ul{
    padding:0;
    margin:0;
    float:right;
}
.navbar li{
    display: inline-block;
    margin-left: 6vw;
    margin-top: 40px;
}
.navbar a{
    color:white;
    font-weight:300;
    text-decoration:none;
    font-family:Arial;
}
.navbar a:hover{
    color:rgb(245, 250, 255);
    text-shadow: 
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
        
}
#navImg {
    height:100px;
    width:100px;
    float:left;
}
#navImg:hover {
    filter: 
    drop-shadow(0 0 2px rgba(0,191,255,0.3))
    drop-shadow(0 0 3px rgba(0,191,255,0.3))
    drop-shadow(0 0 4px rgba(0,191,255,0.3))
    drop-shadow(0 0 8px rgba(0,191,255,0.3));

}
#navContainer {
    width: 60vw;
    height: 100px;
    margin: 0 auto;
}
#menuButton {
    background-color:rgba(0,0,0,0);
    border:none;
    font-size:40px;
    color:white;
    width: 100px;
    height: 100px;
    margin: 0;
    float: right;
    display:none;
}
#menuButton:hover {
  text-shadow: 
    0 0 10px #00bfff,
    0 0 30px #00bfff,  
    0 0 40px #00bfff,  
    0 0 80px #00bfff;  
}
#underline {
    text-decoration:underline;
}

/* title */
#largeTitle {
    margin-top:20vh;
    width:80vw;
    height:17vh;
    margin-left:auto;
    margin-right:auto;
}
#h1-1 {
    margin-top:0;
}
h1 {
    margin:0;
    font-size:6vh;
    font-weight:100;
    text-align:center;
    font-family:arial;
    color:white;
}

/* content */
.content {
    width:70vw;
    margin:auto;
    font-family:arial;
    font-weight:400;
}
.smallContainer {
    padding:2vh;
    display: inline-block;
    color:black;
    border-style:solid;
    border-color:black;
    background-color: rgb(240,240,230);
}
#sC1 {
    height:35vh;
    width:45vw;
    float:left;
}
#sC2 {
    height:35vh;
    width:15vw;
    float:right;
}
#sC2Text1 h2 {
    margin:0;
    text-decoration:underline;
}
#sC2Text2 h2 {
    margin-top:5vh;
    text-decoration:underline;
}
#cI1, #cI2 {
    background-color:rgb(240,240,230);
    color:black;
    font-size:1.5vh;
    height:3vh;
    width:70%;
    float:left;
    margin: 1vh 0;
    border: black solid 2px;
    padding:1px 2px;
}
#cI3 {
    background-color:rgb(240,240,230);
    color:black;
    font-size:1.5vh;
    height:20vh;
    width:70%;
    float:left;
    margin: 1vh 0;
    border: black solid 2px;
    padding:3px 2px;
}
#submit {
    background-color:rgb(10, 18, 42);
    color:white;
    border: black solid 2px;
    height:10vh;
    width:25%;
    /* 2x3+1x4+10 */
    margin:12vh 0 0 0;
    float:right;
    padding:3px 2px;
    font-size:3vh;
}
#submit:hover {
background-color:rgb(30, 60, 90);
    text-shadow:
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
}
.socials {
    margin-top:10vh;
    padding:0;
    text-align:center;
}
.socials img {
    margin:auto;
    height:50px;
    width:50px;
}
.socials img:hover {
    filter: drop-shadow(0 0 8px rgba(0, 0, 0,0.5));
}
#social2 {
    margin-right: 2vw;
}
#social4 {
    margin-left: 2vw;
}
@media (max-width: 1000px) {
    .navbar ul {
        display:none;
    }
    #menuButton {
        display:block;
    }
}
@media (max-width: 900px) {
    #sC1, #sC2 {
        float:none;
        margin:auto;
        width: calc(100% - 3vw - 4vh);
    }
    #sC2 {
        margin-top: 1vh;
        height:208px;
        
    }
    #flexText {
        display:flex;
        flex-direction:column;
        width:100%;
    }
    #cI1, #cI2, #cI3, #submit {
        /* 4x2 */
        width: calc(100% - 8px);
    }
    #cI3 {
        height: 15vh;
    }
    #sC2Text1, #sC2Text2 {
        float:left;
        display:block;
    }
    .socials {
        width: 6vh;
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        margin-left:auto;
        margin-top: -208px;
    }
    #social1, #social2, #social3, #social4 {
        width:6vh;
        height:6vh;
        float:right;
        margin-top:3vh;
        margin-left:0;
        margin-right:0;
    }
    #submit {
        margin:4px;
        height:5vh;
    }
    .smallContainer {
        display:block;
    }
    .content {
        height:70vh;
        width: 90vw;
        margin-left:auto;
        margin-right:auto;
    }
}