body {
    margin:0;
    background-color:rgb(10, 18, 42)
}
body.menuOpen {
    overflow:hidden;
}

#content {
    width: 60vw;
    margin-top:-100px;
    margin-left:auto;
    margin-right:auto;
}

/* **** */
/* menu */
/* **** */
#menu {
    width:100%;
    display:none;
    height:100vh;
    text-align:center;
    position:absolute;
    background-color:rgb(10, 18, 42);
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu a {
    margin-top:10vh;
    text-decoration:none;
    font-family:arial;
    color:rgb(240, 240, 230);
}
.selectButton {
    background-color:rgb(10, 18, 42);
    border-style:solid;
    border-color:rgb(240, 240, 230);
    text-decoration:none;
    font-family:arial;
    font-size:2vh;
    color:rgb(240, 240, 230);
    margin-top:7vh;
    height:10vh;
    width:90vw;
}
.selectButton:hover {
    background-color:rgb(28,46,74);
    text-shadow:
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
}
#svoren {
    margin-top: 7vh;
    font-size: 30px;
}
#svoren a:hover {
    text-shadow:
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
}
/* ****** */
/* navnar */
/* ****** */
header{
    background:linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}
.navbar ul{
    padding:0;
    margin:0;
    float:right;
}
.navbar li{
    display: inline-block;
    margin-left: 6vw;
    margin-top: 40px;
}
.navbar a{
    color:white;
    font-weight:300;
    text-decoration:none;
    font-family:Arial;
}
.navbar a:hover{
    color:rgb(245, 250, 255);
    text-shadow: 
        0 0 10px #00bfff,
        0 0 30px #00bfff,  
        0 0 40px #00bfff,  
        0 0 80px #00bfff;
        
}
#navImg {
    height:100px;
    width:100px;
    float:left;
}
#navImg:hover {
    filter: 
    drop-shadow(0 0 2px rgba(0,191,255,0.3))
    drop-shadow(0 0 3px rgba(0,191,255,0.3))
    drop-shadow(0 0 4px rgba(0,191,255,0.3))
    drop-shadow(0 0 8px rgba(0,191,255,0.3));

}
#navContainer {
    width: 60vw;
    height: 100px;
    margin: 0 auto;
}
#menuButton {
    background-color:rgba(0,0,0,0);
    border:none;
    font-size:40px;
    color:white;
    width: 100px;
    height: 100px;
    margin: 0;
    float: right;
    display:none;
}
#menuButton:hover {
  text-shadow: 
    0 0 10px #00bfff,
    0 0 30px #00bfff,  
    0 0 40px #00bfff,  
    0 0 80px #00bfff;  
}
#underline {
    text-decoration:underline;
}

/* title */
#largeTitle {
    margin-top:20vh;
    width:80vw;
    height:17vh;
    margin-left:auto;
    margin-right:auto;
}
#h1-1 {
    margin-top:0;
    position:sticky;
    z-index:1;
}
h1 {
    margin:0;
    font-size:6vh;
    font-weight:100;
    text-align:center;
    font-family:arial;
    color:white;
}

/* ******* */
/* sliders */
/* ******* */
.slider {
    width: 100%;
    overflow: hidden;
}
.track {
    display: flex;
    align-items: center;
    width: max-content;
}
#track1 {
    animation: scroll 40s linear infinite;
}
#track1:hover {
    animation-play-state:paused;
}
#track2 {
    margin-top: 50px;
    animation: scroll 40s linear infinite reverse;
}
#track2:hover {
    animation-play-state:paused;
}
.track img {
    width: 340px;
    height: auto;
    margin:0 20px;
    object-fit: contain;
    flex-shrink: 0;
}

@keyframes scroll {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-50%);
    }
}




@media (max-width: 1000px) {
    .navbar ul {
        display:none;
    }
    #menuButton {
        display:block;
    }
    #content {
        width:80%;
        margin-top:-200px;
    }
    .track img {
        width: 240px;
    }
}
@media (max-width: 900px) {
    #content {
        margin-top:-370px;
        width:100%;
    }
    .track img {
        width: 200px;
    }
}