body {
    margin:0;
    background-color:rgb(40, 40, 120);  

}
h1 {
    margin:0;
    font-size:6vh;
    font-weight:100;
    text-align:center;
    font-family:sans-serif;
    color:white;
}
#h1-1 {
    margin-top:20vh;
}
header{
    background-color:rgb(5, 5, 30);
}
.navbar ul{
    padding:0;
    margin:0;
    float:right;
}
.navbar li{
    display: inline-block;
    margin-left: 6vw;
    margin-top: 40px;
}
.navbar a{
    color:white;
    font-weight:600;
    text-decoration:none;
    font-family:sans-serif;
}
.navbar a:hover{
    color:orange;
}
#navImg {
    height:5vw;
    width:5vw;
    float:left;
}
#navContainer {
    width: 60vw;
    height: 100px;
    margin: 0 auto;
}
.content {
    width: 60vw;
    font-family:sans-serif;
    font-weight:400;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}
#sC1 {
    background-color:rgb(240, 240, 220);
    color: rgb(30,30,90);
    padding:20px;
    height:200px;
    width:27vw;
    float:left;
}
#sC2 {
    background-color:rgb(30,60,90);
    color: rgb(240, 240, 220);
    padding:20px;
    height:200px;
    width:27vw;
    margin-top:10vh;
    float:right;
}